<h1>
  {{title}}
</h1>
<div>
<h2>Patients</h2>
<ul class="patients">
   <!-- *ngFor iterates over the component's patients array and renders an instance of this template for each patient in that array. -->
  <li *ngFor="let patient of patients" (click)="onSelect(patient)">
    <span class="badge">{{patient.id}}</span> {{patient.firstname}} {{patient.lastname}}
    <!-- delete button  that prevents patients details from showing when clicked-->
  <button class="delete" (click)="delete(patient); $event.stopPropagation()">Delete</button></li>
</ul>
<!-- show the name of the selected patient -->
<div *ngIf="selectedPatient">
  <h3>You have selected the patient {{selectedPatient.firstname}} {{selectedPatient.lastname}} </h3>
  <!-- details button -->
  <button (click)="gotoDetail()">View Details</button>

</div>
<div class="add">
  <h2>Add a new patient</h2>
  <ul class="new">
    <li><label>first name:</label><input #first placeholder="first name" /></li>
    <li><label>last name:</label><input #second placeholder="last name" /></li>
    <li><label>D.O.B:</label><input #birth placeholder="dd/mm/yy" type="date"/></li>
    <li><label>Tel:</label><input #tel placeholder="telephone" /></li>
    <li>  <label>Email:</label><input #mail  placeholder="Email Address"/></li>
  </ul>
<!-- add and then clear the form -->
  <button (click)="add(first.value, second.value, birth.value, tel.value, mail.value); first.value=''; second.value=''; birth.value=''; tel.value=''; mail.value=''">ADD</button>
</div>
</div>
